h1, h2 { margin: 0; padding: 0; }
body {
 background-color: #ffff00;
 font-size: 110.01%;
 font-family:Meiryo, "Meiryo UI", sans-serif;
}
h1 {
 background-color: #191970;
 color: #ffffff;
 font-size:150%;
 padding: 10px;
 margin: 10px;
 border: 2px solid #360;
 width: 50%;
 margin-left: auto;
 margin-right: auto;
 text-align:center;
}
h2 {
 background-color: #ffffff;
 border-top: 2px solid #191970;
 border-right: 2px solid #191970;
 border-bottom: 2px solid #191970;
 border-left: 8px solid #191970;
 font-size:110%;
 padding: 2px 5px;
}
img { margin: 4px 15px 6px; }
table {
 margin: 5px;
 background-color: #000000;
 margin-left:auto;
 margin-right:auto;
}
table th {
 background-color: #191970;
 color: #ffffff;
 padding: 2px 10px;
}
table td {
 background-color: #ffffff;
 padding: 2px 10px;
}
ul li { 
list-style-image:url(free_triangle_005_seagreen.gif);
font-size:80%; 
letter-spacing: 0.1em;
}
p{
 font-size: 95%;
 text-indent: 1em;
}
/* div class starts */
.blog-info{
	background-image:url(../pic%20%20sample%20images/download.jpg);
	background-repeat:no-repeat;
	background-position:right center;
	border:2px solid #909;
	padding:10px;
	margin:10px;
	width: 60%;
	margin-left:auto;
	margin-right:auto;
}
.blog-info table {

}
.blog-intro p{
	text-indent:1em;
	padding: 0 10px;
	line-height:100%;
	letter-spacing: 0.05em;
}
.blog-intro{
	background-image:url(../pic%20%20sample%20images/images.jpg);
	background-repeat:no-repeat;
	background-position:center bottom;
	border:1px solid #30F;
	padding:10px;
	margin:10px;
	width: 60%;
	margin-left: auto;
 	margin-right: auto;

}

/* div ends */

/* float clear */
.float-clear{
	clear:both;
}

a{
	text-decoration:inherit;
}

a:link{
	color:#030;
}
a:visited{
	color:#303;
}
a:hover{
	color:#F03;
	text-decoration:underline;
}
a:active{
	color:#036;
}